*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#parent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: row;
   max-width: 100vw;
    height: 100vh;
}
.style-img {
    height: 22vh;
    width: 20vw;
    margin: 0.6vh;
    border-radius: 5%;
    transition: transform 0.2s; /* Add a transition for the transform property */
}

.style-img:hover {
    transform: scale(1.05); /* Increase the size a bit when hovering */
}

#heading1, #heading2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: beige;
}
